@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');

body {
    font-family: "Sixtyfour", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "BLED" 0,
        "SCAN" 0;

    padding: 0;
    margin: 0;
}


header {
    border-bottom: solid black;
    padding: 1rem;
}

main {
    padding: 1rem;

    display: flex;
    flex-direction: column;
    gap: 1rem
}